@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to our bookstore!</h1>
    <p class="lead">Here you will find every book in the world ever......for a price</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>This here is some book</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc consequat dapibus ultricies. Mauris porta felis et lacinia condimentum. Aenean ullamcorper facilisis elementum.  
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>This is something else</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc consequat dapibus ultricies. Mauris porta felis et lacinia condimentum. Aenean ullamcorper facilisis elementum.  </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>This is an ad, maybe.</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc consequat dapibus ultricies. Mauris porta felis et lacinia condimentum. Aenean ullamcorper facilisis elementum.  </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>