@model IEnumerable<MVCHomework1.Session1.Models.News>

@{
    ViewBag.Title = "News";
}

<h2>News</h2>

<p>
    @Html.ActionLink("Create New", "CreateNews")
</p>
<table class="table">
    <tr>
       
        <th>
            @Html.DisplayNameFor(model => model.DatePosted)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
       
        <td>
            @Html.DisplayFor(modelItem => item.DatePosted)
        </td>
        <td>
            @Html.ActionLink("Read More", "NewsDetails", new {id = item.NewsId}, new { @class = "btn btn-danger" })
        </td>        
    </tr>
    
}

</table>
